body {
    font-family:Geneva, Arial, sans-serif;
    background-color: #FFE29E;
    color: #403828;
}

h1 {
    color: #403828;
    border-top: thin dotted  #888888;
    margin-top: 50px;
}

h2 {
    color: #403828;
}

p.summary {
    font-style:oblique;
}
